
/* styles.css/*

/* title block */
h1.title { font-size: 28px; }
h2.subtitle { font-size: 24px; }
p.author, p.date { font-size: 22px; }

/* section headers */
h1 { font-size: 27px; }
h2 { font-size: 24px; }
h3 { font-size: 21px; }
h4 { font-size: 16px; }

/* body text */
/* body { font-size: 14px; }